.hidden {
  visibility: hidden;
}

.hidden2 {
  display: none;
}

/* /////////////////////////////////////////////
login popup 
/////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////
navabar  
///////////////////////////////////////////////////////////////// */

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

.firstNavbar {
  display: flex;
  justify-content: space-between;
  color: rgb(60, 210, 244);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 0;
}

.nav2 {
  display: flex;
}

.firstNavbar div {
  margin: 0 10px;
}

.secondNavbar {
  display: flex;
  justify-content: center;
  color: rgb(60, 210, 244);
  margin: 13px 0;
  font-size: 1.3rem;
}
.secondNavbar div {
  margin: 0 10px;
}

.thirdNavbar {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 1000;
}

.thirdNavbar div {
  background-color: #31c48d47;
  color: rgb(22, 21, 21);
  padding: 10px 45px;
  margin: 2px;
  border-radius: 2px;
}

/* ////////////////////////////////////////////////////////////
filler section 
/////////////////////////////////////////////////////////////// */
.fillerSection {
  height: 22vh;
  position: relative;
  z-index: 999;
}

/* ///////////////////////////////////////////////////////////////
first section 
//////////////////////////////////////////////////////////////// */
.firstSection {
  height: 80vh;
  background-image: url("../../../../public/Web_Photo_Editor.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 10%;
}

.firstbox1 div:nth-child(1) {
  color: navy;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.firstbox1 div:nth-child(2) {
  color: navy;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-bottom: 50px;
}

.firstbox1 div:nth-child(3) {
  color: navy;
  font-size: 1.5rem;
  background-color: rgba(8, 229, 146, 0.5);
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.firstbox1 div:nth-child(4) {
  color: navy;
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
}

.firstbox2 {
  height: 350px;
  width: 400px;
}

/* /////////////////////////////////////////////////////////
second section 
/////////////////////////////////////////////////////// */
.secondSection {
  height: 70vh;
  background-color: #20a0d847;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondBox1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 5% 20%;
  padding: 50px;
  border-radius: 50px;
}

.secondBox1 div {
  margin: 0 10px;
  color: lightseagreen;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
}

.secondBox1 div:nth-child(2) {
  background-color: gainsboro;
  border-radius: 30px;
  padding: 10px;
}

.secondBox2 {
  display: flex;
  justify-content: center;
}

.secondBox2 div:nth-child(1) {
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
}

.secondBox2 div:nth-child(2),
.secondBox2 div:nth-child(3),
.secondBox2 div:nth-child(4),
.secondBox2 div:nth-child(5) {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

.secondBox2 div:nth-child(6) {
  background-color: white;
  height: 50%;
  margin-top: 11px;
  margin-left: 10px;
  border-radius: 5px;
}

.secondSectionDropdown {
  color: navy;
  width: 20vh;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  left: 78%;
  bottom: 20%;
}

.secondSectionDropdown div {
  font-size: 1.2rem;
  padding: 5px;
  background-color: blanchedalmond;
  margin: 5px 0;
}

/* ///////////////////////////////////////////////////////////
third section 
//////////////////////////////////////////////////////////// */

.thirdSection {
  height: 40vh;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff, pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdSection img {
  width: 80%;
  border-radius: 10px;
}

/* /////////////////////////////////////////////////////////////
fourth section 
////////////////////////////////////////////////////////////// */

.fourthSection {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff, pink);
  padding: 0 3%;
}

.fourthBox1 {
  margin-bottom: 10%;
}

.fourthBox1 div:nth-child(1) {
  color: orange;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fourthBox1 div:nth-child(2) {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-image: linear-gradient(90deg, blue, red);
  -webkit-background-clip: text; /* For Webkit-based browsers */
  background-clip: text;
  color: transparent;
}

.fourthBox1 div:nth-child(3) {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 20px;
  width: 80%;
}

.fourthBox1 div:nth-child(4) {
  width: 25%;
  color: yellow;
  font-size: 1.3rem;
  background-color: orange;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

.fourthBox2 {
  width: 12%;
}

.fourthBox2 div {
  background-color: white;
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
}

.fourthBox2Text {
  background-image: linear-gradient(90deg, blue, red);
  -webkit-background-clip: text; /* For Webkit-based browsers */
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

/* ///////////////////////////////////////////////////////
fifth section 
/////////////////////////////////////////////////////// */
.fifthSection {
  height: 30vh;
  background-color: #ffffff;
  background-image: linear-gradient(90deg, #e8dfca, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthSection img {
  width: 80%;
  border-radius: 10px;
}

/* ///////////////////////////////////////////////////////////
sixth section 
////////////////////////////////////////////////////////// */

.sixthSection {
  height: 80vh;
  background-image: url("../../../../public/fifthBackHOme.png");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.sixthOne {
  font-size: 2rem;
  color: navy;
  font-weight: 700;
  margin-bottom: 10px;
}

.sixthTwo {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.sixthBox {
  display: flex;
  justify-content: center;
}

.sixthBox div {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.sixthBox div div:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 700;
}

/* /////////////////////////////////////////////////////////
footer section 
////////////////////////////////////////////////////////// */

.footerSection {
  height: 40vh;
  background-image: url("../../../../public/footerImage.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 10%;
}

.footerOne {
  padding-top: 7%;
}

.footerThree,
.footerFour {
  padding-top: 2%;
}

.footerOne div:nth-child(1),
.footerTwo div:nth-child(1),
.footerThree div:nth-child(1),
.footerFour div:nth-child(1) {
  color: green;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footerOne div:nth-child(2) {
  background-image: linear-gradient(90deg, red, yellow);
  -webkit-background-clip: text; /* For Webkit-based browsers */
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.footerOne div,
.footerTwo div,
.footerThree div,
.footerFour div {
  font-size: 1.5rem;
  font-weight: 700;
  color: #31363f;
  margin-bottom: 15px;
}

.footerFour div:nth-child(2) {
  text-align: center;
}

.footerFour div:nth-child(2) img {
  margin: 5px;
}

.footerFour div:nth-child(3),
.footerFour div:nth-child(4) {
  text-align: center;
  background-color: #065550;
  border-radius: 25px;
  width: 80%;
  padding: 2px 0;
  color: white;
  margin-left: 10%;
}
